{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="auth-container">
    <div class="card shadow-lg">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Registro</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center w-100">
                    <i class="material-icons me-2">person_add</i>
                    Registrar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}